.linha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    border: double 2px #000;
    border-radius: 10px;
    width: 320px;
    height: 390px;
    padding: 10px;
    margin: 10px;
}

.conversor {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.164);
    margin: 5px;
    padding: 2px 20px;
}

.linha input {
    margin-left: 5px;
    height: 20px;
    border-radius: 1px 20px 20px;
    text-align: center;
}

.linha input[type=button] {
    height: 25px;
}

.resultado {
    border-bottom: 1px solid #000;
    width: 200px;
}